In [15]:
import pandas as pd

In [27]:
#Got data and saved in text format
covid_df = pd.read_csv("C:/Users/promod.bariker/Downloads/data/countrywise_covid.txt")

In [30]:
#converted text to csv format
covid_df.to_csv('C:/Users/promod.bariker/Downloads/data/countrywise_covid.csv',  
                  index = None)

In [31]:
covid_df

              Date      Country  Confirmed  Recovered  Deaths
0       2020-01-22  Afghanistan          0          0       0
1       2020-01-23  Afghanistan          0          0       0
2       2020-01-24  Afghanistan          0          0       0
3       2020-01-25  Afghanistan          0          0       0
4       2020-01-26  Afghanistan          0          0       0
...            ...          ...        ...        ...     ...
161563  2022-04-12     Zimbabwe     247094          0    5460
161564  2022-04-13     Zimbabwe     247160          0    5460
161565  2022-04-14     Zimbabwe     247208          0    5462
161566  2022-04-15     Zimbabwe     247237          0    5462
161567  2022-04-16     Zimbabwe     247237          0    5462

[161568 rows x 5 columns]

In [32]:
#People pending for recovery are calculated by substracting recovered from confirmed
covid_df['pending recovery'] = covid_df["Confirmed"] - covid_df["Recovered"]

In [40]:
covid_df

,Date,Country,Confirmed,Recovered,Deaths,pending recovery
0,2020-01-22,Afghanistan,0,0,0,0
1,2020-01-23,Afghanistan,0,0,0,0
2,2020-01-24,Afghanistan,0,0,0,0
3,2020-01-25,Afghanistan,0,0,0,0
4,2020-01-26,Afghanistan,0,0,0,0
...,...,...,...,...,...,...
161563,2022-04-12,Zimbabwe,247094,0,5460,247094
161564,2022-04-13,Zimbabwe,247160,0,5460,247160
161565,2022-04-14,Zimbabwe,247208,0,5462,247208
161566,2022-04-15,Zimbabwe,247237,0,5462,247237
161567,2022-04-16,Zimbabwe,247237,0,5462,247237

In [52]:
#The days there were no recorded confirmed cases are removed from data
covid_df=covid_df[covid_df['Confirmed'] !=0]

In [53]:
covid_df

,Date,Country,Confirmed,Recovered,Deaths,pending recovery
33,2020-02-24,Afghanistan,5,0,0,5
34,2020-02-25,Afghanistan,5,0,0,5
35,2020-02-26,Afghanistan,5,0,0,5
36,2020-02-27,Afghanistan,5,0,0,5
37,2020-02-28,Afghanistan,5,0,0,5
...,...,...,...,...,...,...
161563,2022-04-12,Zimbabwe,247094,0,5460,247094
161564,2022-04-13,Zimbabwe,247160,0,5460,247160
161565,2022-04-14,Zimbabwe,247208,0,5462,247208
161566,2022-04-15,Zimbabwe,247237,0,5462,247237
161567,2022-04-16,Zimbabwe,247237,0,5462,247237

In [60]:
#path is been specified before saving the transformed data in csv format
path = "C:/Users/promod.bariker/Downloads/data/countrywise_covid_transformed.csv"

In [61]:
covid_df.to_csv(path)
#printed the message to make sure file is saved
print(f"Dataframe saved to {path}")

Dataframe saved to C:/Users/promod.bariker/Downloads/data/countrywise_covid_transformed.csv